$black-color: #000000;
$white-color: #ffffff;
$gray-color: #CCCCCC;
$dark-gray-color: #999999;
$blue-color: #4997D0;
$dark-blue-color: #398DD0;
$red-color: #D02630;

$font-family-main: "Roboto", Arial, sans-serif;
$font-size-main: 13px;
$font-weight-main: normal;
$line-height-main: 15px;
$font-style-main: normal;
$background-color-main: $white-color;

$mobile-width: 320px;
$desktop-width: 768px;



















